<div style=" background-color: white;height: 52vh;margin: 30px 0px;width:36vw; box-shadow: 1px 2px 32px 12px red;border-radius: 20px;border: 1px solid;">
    <form [formGroup]="fg" (ngSubmit)="onSubmit()">
      <h2 style="width:36vw" class="box">Registeration Form For Bank</h2>
        <div style="height:40vh" class="div2">
        <div class="row">
          <div class="col-md">
            <label class="box">IFSC Number</label>
          </div>
          <div class="col-md">
            <input class="box" type="number" formControlName="bifsc">
          </div>
        </div>
        <div class="row">
            <div class="col-md">
                <label class="box">Bank Name</label>
            </div>
            <div class="col-md">
                <input class="box" type="text" formControlName="bname">
            </div>
          </div>
          <div class="row">
            <div class="col-md">
                <label class="box">Contact</label>
            </div>
            <div class="col-md">
                <input class="box" type="number" formControlName="bcontact">
            </div>
          </div>
          <div class="row">
            <div class="col-md">
                <label class="box">E-Mail</label>
            </div>
            <div class="col-md">
                <input class="box" type="text" formControlName="bemail">
            </div>
          </div>
          <div class="row">
            <div class="col-md">
                <label class="box">Address</label>
            </div>
            <div class="col-md">
                <input class="box" type="text" formControlName="baddress">
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-md" style="display:flex;justify-content: center;">
              <button class ="btn" type="submit">REGISTER</button>
          </div>
          </div>
    </form> 
    </div>