<div class="div" style="height: 20vh;width:100vw;">
    <div>
        <img style="border-radius: 60px;height: 18vh"src="https://www.liblogo.com/img-logo/rb6628r9da-rbi-logo-rbi-guidelines-krs-home-developers.png">
    </div>
<div style="width:60vw;padding-left: 14vw;">
    <button class="btn cli btn2" routerLink="home">HOME</button>
    <button class="btn cli btn2" routerLink="about">ABOUT US</button>
    <button class="btn cli btn2" routerLink="contact">CONTACT US</button>
    <button class="btn cli btn2" routerLink="service">SERVICES</button>
</div>
<div style="display:flex;justify-content: space-evenly;width:20vw;">
    <button class="btn cli btn2" routerLink="login">LOGIN</button>
    <button class="btn cli btn2" routerLink="signin">SIGN UP</button>
</div>
</div>
<div style="background:rgb(252, 98, 98);display: flex;width: 100vw;height: 126vh;justify-content: center;">
    <router-outlet></router-outlet>
</div>